.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #5164d9, #35efd4); /* Smooth gradient background */
  color: white;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
}

.heroContent {
  opacity: 0;
  animation: fadeInText 2s forwards, scaleUp 1s ease-in-out 1s;
  max-width: 800px;
  margin: 0 auto;
}

.heroHeading {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #181be9;
  text-shadow: 0 0 30px rgba(53, 90, 212, 0.6), 0 0 50px rgb(97, 100, 255);
  animation: textGlow 3s ease-in-out infinite alternate;
  margin-bottom: 20px;
}

.heroSubheading {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 1000;
  color: #090707;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
}

.welcomeButton {
  padding: 16px 40px;
  font-size: 20px;
  background-color: #ff6f61;
  border: 2px solid transparent;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 111, 97, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.welcomeButton:hover {
  background-color: #ff3f3f;
  transform: translateY(-5px) scale(1.05); /* Slight scale-up effect */
  box-shadow: 0 6px 25px rgba(255, 111, 97, 0.5);
  border-color: #ff6f61;
  border-width: 2px;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 30px rgba(34, 119, 181, 0.6), 0 0 50px rgba(255, 111, 97, 0.8);
  }
  50% {
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 80px rgba(255, 111, 97, 1);
  }
  100% {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 111, 97, 0.8);
  }
}

@media (max-width: 768px) {
  .heroHeading {
    font-size: 48px;
  }

  .heroSubheading {
    font-size: 20px;
  }

  .welcomeButton {
    padding: 12px 30px;
    font-size: 18px;
  }
}
